.app-container {
  display: flex;
}

.content-container {
  margin-top: 10px;
  vertical-align: top;
  margin-left: 5vw;
  width: 55vw;
}

.project-container {
  display: flex;
  margin-bottom: 3vh;
}

.sidebar_container {
  margin-left: 12vw;
  margin-top: 10px;
  height: 100%;
  width: 200px;
  color: #6DB9FF;
}

#personal_photo {
  width: 200px;
}

#icon_holder {
  margin-top: 3%;
  margin-left: 30%;
  width: 150px;
  display:flex;
  justify-content: space-between;
}

.link_icon {
  transform: scale(0.5);
}

#name {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: right;
  font-size: 38px;
  margin-bottom: 2%;
  text-decoration: none;
}



#name-link {
  text-decoration: none;
}

@keyframes slide-left {
  /* use % to specify the animation at different stages (in this case, 0% and 100%) */
  from {transform: translateX(0);}
  to {transform: translateX(-10px);}
}

@keyframes slide-right {
  /* use % to specify the animation at different stages (in this case, 0% and 100%) */
  to { transform: translateX(-10px); }
  from { transform: translateX(0px); }
}

.link-word {
  
  position: relative;
  margin-left: auto;
  margin-top: auto;
  display: flex;
  justify-content: right;
  width: fit-content;
  text-decoration: none;
  /* animation: slide-right 0.5s; */
  
}

.link-word:hover{
  text-decoration: underline dotted;
  color: inherit;
  animation: slide-left 0.5s ease forwards;
  
}

.link-text {
  margin-right: 0.5vh;

}

.project-link-arrow path {
  fill: coral;
}

.link-arrow {
  fill: coral;
  bottom: 0;
  right: 0;
}

@media (max-width: 900px) {
  .app-container {
    flex-direction: column;
  }

  .sidebar_container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

  }

  #icon_holder {
    margin: auto;
    margin-top: 2%;
    width: 200px;
  }

  .content-container {
    width: 80vw;
    margin: auto;
  }

  .link-word {
    margin: auto;
  }

  

}

#bio-hi {
  margin: 0;
  padding: 0;
}

@keyframes show_background_color {
  0% {
   background-color: inherit;
  }
  100% {
    background-color: #fff4eb; 
  }
}

@keyframes arrow_hover_animation {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(5px, -5px);
  }
}

.projects-container {
  margin-top: 3vh;
  vertical-align: top;
  margin-left: 5vw;
  width: 55vw;
}

.project-container {
  padding-left: 5vh;
  padding-right: 5vh;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.project-container:hover {
  animation: show_background_color 0.3s ease forwards;
  border-radius: 10px;
}

.project-container:hover .project-link-arrow {
  animation: arrow_hover_animation 0.3s ease forwards;
}

.project-title {
  color: #6DB9FF;
  font-weight: bold;
  font-size: 20px;
  color: coral;
  margin-right: 0.5vh;
}

.project-description {
  color: #4A4848;
  padding: 0;
  margin: 0;
}

.project-text {
  margin-top: 2vh;
  text-decoration: none;
}

.project-link {
  text-decoration: none;
}

@media (max-width: 900px) {
  .projects-container {
    width: 90%;
  }
}

.project-technology-text {
  color: coral;
  background-color: #fff4eb;
  padding-bottom: 1vh;
  padding-top: 1vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  text-align: center;
  border-radius: 20px;
  display: inline-flex;
  margin-right: 1vh;
}